<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://icnightschool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>icnightschool.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>icnightschool</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$icnightschool</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SQLAzureConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:nsf94vmryj.database.windows.net,1433;Initial Catalog=icnightschool_db;User ID=dbdevuser@nsf94vmryj;Password=!314970o" Name="Data Source=tcp:nsf94vmryj.database.windows.net,1433;Initial Catalog=icnightschool_db;User Id=dbdevuser@nsf94vmryj;Password=!314970o" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:xtakyigu0h.database.windows.net;Initial Catalog=SeyVote;Integrated Security=False;User ID=dbuser@xtakyigu0h;Password=!314970o;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLAzureConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="&#xD;&#xA;         Data Source=tcp:xtakyigu0h.database.windows.net;&#xD;&#xA;         Initial Catalog=SeyVote;   &#xD;&#xA;         User ID=dbuser@xtakyigu0h; &#xD;&#xA;         Password=!314970o;     &#xD;&#xA;         Encrypt=true;      &#xD;&#xA;         Trusted_Connection=false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLAzureConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nsf94vmryj.database.windows.net,1433;Initial Catalog=icnightschool_db;User Id=dbdevuser@nsf94vmryj;Password=!314970o</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>